*::before,
*::after * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: red($color: #000000);
  text-align: center;
  justify-content: center;
  font-family: sans-serif;

  .temp{
    .logo{
      height:100px;
    }
    button{
      background-color: #4287f5;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height: 35px;
        width: 120px;
        color: white;
        font-weight: bold;
        a{
            text-decoration: none;
            color: black;
        }

    }

    .bottomContent{
      display: flex;
      flex-direction: column;
      align-items: center;
      .progBar{
        margin: 0 0 20px 0;
      }
    }
  }
}
